extends layout.pug 

block content

    div#ASISTENTE_DIV
        div#mensajeAsistenteAtras
            p Si quieres volver atrás, presioname.
        div#mensajeAsistente
            h1 ¡Aquí tienes las preguntas más frecuentes por los usuarios!
            h2 ¿Cómo inicio sesión en la aplicación?
            p Fácil, al mismo entrar en la aplicación localizarás un botón que pone "Iniciar Sesión", le presionaras y te redireccionará al formulario donde tendrás que poner tu DNI y contraseña.
            h2 ¿Cómo creo una nueva cuenta?
            p Fácil, dependiendo de tus intereses en la aplicación una vez le des al botón "Registrarse" te aparecerá una página para que selecciones el papel que más se te asemeje. 
            h2 ¿Cómo puedo mandar una sugerencia, una duda o un error?
            p Fácil, te deberás de dirigir a la parte más inferior de la página y presionar en el botón "Contáctanos", una vez dentro de este, podrás realizar tu consulta, estaremos encantados de contestarte.
            h2 ¿TeamWork es gratuito o hay que pagar?
            p TeamWork es gratuito en su cierta medida, no obstante para los empresarios existen númerosas funcionalidades que pueden conllevar un precio, para el resto de usuarios TeamWork es un entorno seguro y gratuito.
            h2 ¿Qué es realmente TeamWork?
            p Teamwork, realmente es una aplicación desarrollada para el Trabajo de Fin de Grado de Desarrollo de Aplicaciones Web, desarrollado por Raúl Gómez Muñoz.

    img(src="./img/asistente2.png" id="ASISTENTE_FOTO" onclick="window.location.href = '/'")

    
