extends layout.pug 

block content

    -if(usuario != null)

        //- PERFIL ADMIN
        -if(usuario.rol == "admin")
            div#div_home
                
                div#home_header
                    img#HOME_header_opcion(src="./img/icon/vacio.png")
                    img#HOME_header_opcion(src="./img/icon/vacio.png")
                    img#HOME_header_opcion(src="./img/icon/vacio.png")
                    img#HOME_header_opcion(src="./img/icon/vacio.png")
                    img#HOME_header_opcion(src="./img/icon/vacio.png")
                    img#HOME_header_opcion(src="./img/icon/vacio.png")
                    img#HOME_header_opcion(src="./img/icon/vacio.png")
                    img#HOME_header_opcion(src="./img/icon/vacio.png")
                    img#HOME_header_opcion(src="./img/icon/vacio.png")
                    img#HOME_header_opcion(src="./img/modulo/colores.png")

                    p#HOME_nombre=usuario.nombre
                    div#HOME_flechita
                    img#HOME_foto_perfil(src="./img/fotoprueba.png")
                    img#HOME_idioma(src="./img/flag/Spain.png")

                    
                div#home_menu
                    h1 Le damos la bienvenida a TeamWork
                    
                    img(src="./img/icon/inicio.png", class="HOME_menu_imagen")
                    p.HOME_menu_texto Inicio
                    img(src="./img/icon/empresa.png", class="HOME_menu_imagen")
                    p.HOME_menu_texto Empresa

                    
                div#home_body
                div#home_footer

            

        //- PERFIL EMPRESARIO
        -if(usuario.rol == "empresario")

            p Hola estas en EMPRESARIO 

        //- PERFIL TRABAJADOR
        -if(usuario.rol == "trabajador")

            p Hola estas en TRABAJADOR 

        //- PERFIL EMPRESARIO
        -if(usuario.rol == "oferente")

            div#div_home
                
                div#home_header
                    p#HOME_nombre=usuario.nombre
                    div#HOME_flechita
                    img#HOME_foto_perfil(src="./img/fotoprueba.png")
                    
                div#home_menu
                    h1 Le damos la bienvenida a TeamWork
                    
                    img(src="./img/icon/inicio.png", class="HOME_menu_imagen")
                    p.HOME_menu_texto Inicio
                    img(src="./img/icon/empresa.png", class="HOME_menu_imagen")
                    p.HOME_menu_texto Empresa
                    img(src="", class="HOME_menu_imagen")
                    p.HOME_menu_texto Chat
                    img(src="", class="HOME_menu_imagen")
                    p.HOME_menu_texto Calendario
                    
                div#home_body
                div#home_footer


    //- No existe el usuario    
    -else
        script.
            location.href ='/iniciarSesion';  