extends layout.pug 

block content

    h1 Iniciar sesi칩n
        form(method="POST" action='/home')
            label DNI
            input(type="text" id="dni" name="dni" placeholder="Inserte su DNI") 
            label Contrase침a
            input(type="password" id="password" name="password" placeholder="Inserte su Contrase침a") 
            input(type="submit" value="Iniciar Sesi칩n" id="input_submit_sesion") 