doctype html 
html(lang="es")
    head 
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width,initial-scale=1")
        title= title 
        meta(name="description",content=description)
        link(href="./css/inicio.css", rel="stylesheet")
        link(href="./css/inicio_registrarse.css", rel="stylesheet")
        link(href="../css/registrarse_trabajador.css", rel="stylesheet")
        link(href="../css/registrarse_oferente.css", rel="stylesheet")
        link(href="../css/registrarse_empresario.css", rel="stylesheet")
        link(href="../css/home.css", rel="stylesheet")
        link(href="../css/iniciar_sesion.css", rel="stylesheet")
        link(href="../css/footer.css", rel="stylesheet")
        link(href="../css/contacto.css", rel="stylesheet")
    body 
        block content