@font-face {
    font-family: Farmhouse;
    src: url("./fonts/Farmhouse.otf") format("opentype");
}


#HOME_foto_perfil{
    height: 64px;
    width: 64px;
    border-radius: 9999px;
    margin : 8px;
    position: relative;
    top : 6px;
}

#HOME_nombre{
    position: relative;
    top : 22px;
    font-size: 16px;
    color : rgb(255, 255, 255);
    text-decoration: underline;
    font-family: monospace;
    cursor: pointer;
}

#HOME_nombre_empresa{
    position: fixed;
    top : -8px;
    font-size: 32px;
    left : 2%;
    color : rgb(255, 255, 255);
    letter-spacing: 0.15em;
    font-family: Farmhouse;
}

#HOME_flechita{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid rgb(255, 254, 254);
    position: relative;
    top : 48px;
    left : 4px;
    cursor: pointer;
}
#HOME_menu_flechita{
    display: none;
}
#HOME_menu_flechita nav div{
    width: 128px;
    padding: 4px;
    margin: 4px;
    position: relative;
    left : -80px;
    top : 40px;
    text-align: center;
    background-color: rgb(216, 216, 216);
    box-shadow: 0 8px 8px rgb(102, 109, 114);
}

#HOME_menu_flechita nav div:hover{
    transition: 0.5s;
    background-color: rgb(101, 101, 101);
    box-shadow: 0 8px 8px rgb(10, 11, 11);
    color : white;
}
#HOME_HEADER{
   
    grid-area : header;
    position: fixed;
    left : -25%;
    width: 125%;
    height: 88px;
    top : -8px;
    display : flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
}




#HOME_cuerpo{
    position: fixed;
    top : 84px;
    height: 532px;
    width: 75%;
    background-color: rgb(255, 255, 255);
    
    border : 4px solid black;
    border-radius: 32px;
    
}

#HOME_cuerpo_titulo{
    text-align: center;
    font-family: Farmhouse;
    font-size: 54px;
}

#HOME_cuerpo_texto_nombre{
    text-align: center;
    font-size: 16px;
}

#HOME_cuerpo_texto_no_nombre{
    text-align: center;
    font-size: 12px;
    font-style: italic;
    text-decoration: underline;
}

#HOME_cuerpo_imagen_empresa{
    height: 236px;
    border-radius: 32px;
    margin: auto;
    display: block;
    box-shadow: 0 8px 8px rgb(102, 109, 114);
}

#HOME_tutorial_si{
    width: 48px;
    height: 24px;
    border-radius: 16px;
    border: none;
    background-color: rgb(93, 245, 146);
    font-family: monospace;
    font-weight: 600;
    position: relative;
    top : 48px;
    left : 41.7%;
    cursor: pointer;
    box-shadow: 0 8px 8px rgb(102, 109, 114);
}

#HOME_tutorial_no{
    width: 48px;
    height: 24px;
    border-radius: 16px;
    border: none;
    background-color: rgb(245, 106, 93);
    font-family: monospace;
    font-weight: 600;
    position: relative;
    top : -56px;
    left : 54.8%;
    cursor: pointer;
    box-shadow: 0 8px 8px rgb(102, 109, 114);
}

#HOME_asistente_tutorial{
    height: 80px;
    margin: auto;
    display: block;
}

#HOME_cuerpo_texto_tutorial{
    position: absolute;
    top : 79.5%;
    left: 40.9%;
    font-size: 14px;
    font-style: italic;
    cursor : pointer;
    font-weight: bold;
    
}

#div_home{
    margin: 0;
	padding: 0;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

#HOME_MENU{
    
	color: #fff;
	padding: 10px 20px;
	position: fixed;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
    height: 80px;

}



.HOME_menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    font-family: Farmhouse;
    font-size: 20px;
    
}

.HOME_menu-item p {
    position: relative;
    left : 0px;
    top : -20px;
    cursor: pointer;
}
.HOME_menu_imagen {
    width: 40px;
    height: 40px;
    height: auto;
    object-fit: cover;
    object-position: center;
    margin: 32px;
    position: relative;
    top : 24px;
    filter: invert(1) sepia(0) hue-rotate(20deg) saturate(1000%);
    cursor: pointer;
}










