@font-face {
    font-family: Farmhouse;
    src: url(./fonts/Farmhouse.otf) format(opentype);
}


#HOME_foto_perfil{
    height: 64px;
    width: 64px;
    border-radius: 9999px;
    margin : 8px;
    position: relative;
    top : 6px;
    cursor: pointer;
}

#HOME_nombre{
    position: relative;
    top : 22px;
    font-size: 16px;
    color : rgb(255, 255, 255);
    text-decoration: underline;
    font-family: monospace;
    cursor: pointer;
}

#HOME_nombre_empresa{
    position: fixed;
    top : -8px;
    font-size: 32px;
    left : 2%;
    color : rgb(255, 255, 255);
    letter-spacing: 0.15em;
    font-family: Farmhouse;
}

#HOME_flechita{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid rgb(255, 254, 254);
    position: relative;
    top : 48px;
    left : 4px;
    cursor: pointer;
}
#HOME_menu_flechita{
    display: none;
}
#HOME_menu_flechita nav div{
    width: 128px;
    padding: 4px;
    margin: 4px;
    position: relative;
    left : -80px;
    top : 40px;
    text-align: center;
    background-color: rgb(216, 216, 216);
    box-shadow: 0 8px 8px rgb(102, 109, 114);
}

#HOME_menu_flechita nav div:hover{
    transition: 0.5s;
    background-color: rgb(101, 101, 101);
    box-shadow: 0 8px 8px rgb(10, 11, 11);
    color : white;
}
#HOME_HEADER{
   
    grid-area : header;
    position: fixed;
    left : -25%;
    width: 125%;
    height: 88px;
    top : -8px;
    display : flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
}




#HOME_cuerpo{
    position: fixed;
    top : 84px;
    height: 532px;
    width: 75%;
    background-color: rgb(255, 255, 255);
    overflow: auto;
    border : 4px solid black;
    border-radius: 32px;
    
}

#HOME_cuerpo::-webkit-scrollbar {
    width: 10px;
  }
  

#HOME_cuerpo_titulo{
    text-align: center;
    font-family: Farmhouse;
    font-size: 54px;
}

#HOME_cuerpo_texto_nombre{
    text-align: center;
    font-size: 16px;
}

#HOME_cuerpo_texto_no_nombre{
    text-align: center;
    font-size: 12px;
    font-style: italic;
    text-decoration: underline;
}

#HOME_cuerpo_imagen_empresa{
    height: 236px;
    border-radius: 32px;
    margin: auto;
    display: block;
    box-shadow: 0 8px 8px rgb(102, 109, 114);
}

#HOME_tutorial_si{
    width: 48px;
    height: 24px;
    border-radius: 16px;
    border: none;
    background-color: rgb(93, 245, 146);
    font-family: monospace;
    font-weight: 600;
    position: relative;
    top : 72px;
    left : 41.7%;
    cursor: pointer;
    box-shadow: 0 8px 8px rgb(102, 109, 114);
}

#HOME_tutorial_no{
    width: 48px;
    height: 24px;
    border-radius: 16px;
    border: none;
    background-color: rgb(245, 106, 93);
    font-family: monospace;
    font-weight: 600;
    position: relative;
    top : -32px;
    left : 54.8%;
    cursor: pointer;
    box-shadow: 0 8px 8px rgb(102, 109, 114);
}

#HOME_asistente_tutorial{
    height: 80px;
    margin: auto;
    display: block;
    position: relative;
    top : 24px;
}

#HOME_cuerpo_texto_tutorial{
    position: absolute;
    top : 79.5%;
    left: 40.9%;
    font-size: 14px;
    font-style: italic;
    cursor : pointer;
    font-weight: bold;
    
}

#div_home{
    margin: 0;
	padding: 0;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

#HOME_MENU{
    
	color: #fff;
	padding: 10px 20px;
	position: fixed;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
    height: 80px;

}



.HOME_menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    font-family: Farmhouse;
    font-size: 20px;
    
}

.HOME_menu-item p {
    position: relative;
    left : 0px;
    top : -20px;
    cursor: pointer;
}
.HOME_menu_imagen {
    width: 40px;
    height: 40px;
    height: auto;
    object-fit: cover;
    object-position: center;
    margin: 32px;
    position: relative;
    top : 24px;
    filter: invert(1) sepia(0) hue-rotate(20deg) saturate(1000%);
    cursor: pointer;
}





/* PERSONAL */

.PERSONAL_CRUD{
    height: 360px;
    width: 360px;
    object-fit: cover;
    object-position:  center;
    cursor: pointer;
    position: relative;
    top : -16px;
}


#HOME_DIV_PRINCIPAL_PERSONAL{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
}

#HOME_DIV_PRINCIPAL_PERSONAL p{
    top : -32px;
    left : 96px;
    position: relative;
    border-radius: 99px;
    width: 256px;
    height: 46px;
    font-size: 1.2rem;
    font-family: monospace;
    color: rgb(2, 2, 2);
    cursor : pointer;
    text-decoration: underline;
}



#HOME_PERSONAL_EMPRESARIO tr th{
    color : white;
    width: 256px;
    height: 32px;
    font-family: Farmhouse;
    font-size: 24px;
}

#HOME_PERSONAL_EMPRESARIO tr td{
    text-align: center;
    padding: 8px;
    margin: 8px;
    max-width: 256px;
    font-family: monospace;
}


#HOME_CONTENEDOR_FILE{
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    margin: 0 auto 0;
    min-height: 15px;
    overflow: hidden;
    padding: 10px;
    top : 16px;
    position: relative;
    text-align: center;
    width: 400px;
}

#HOME_CONTENEDOR_FILE #HOME_SUBIR_FOTO_INPUT{
    border: 10px solid transparent;
    cursor: pointer;
    font-size: 10px;
    margin: 0;
    opacity: 0;
    outline: 0 none;
    padding: 0;
}

#HOME_SUBIR_FOTO_LABEL{
    display: inline-block;
    pointer-events: none;
    user-select: none;
    position: relative;
    left : -108px;
}

#HOME_SUBIR_FOTO_SUBMIT{
    position: relative;
    height: 32px;
    width: 128px;
    border-radius: 48px;
    border : transparent;
    box-shadow: 0 8px 8px rgb(102, 109, 114);
    font-family: monospace;
    font-size: 16px;
    font-weight: 600;
    top : 48px;
    left : 44.5%;
    cursor: pointer;
}

#HOME_SUBIR_FOTO_SUBMIT:hover {
    background-color: rgb(102,109,114);
    transition: 0.5s;
}

#NUEVO_PERSONAL_FORMULARIO input{
    display: block;
    width: 512px;
    padding: 16px;
    margin: auto;
    border-radius: 16px;
    border : transparent;
    border-bottom: 2px solid black;
    font-size: 20px;
    font-family: monospace;
    
}

#NUEVO_PERSONAL_SUBMIT{
    position: relative;
    top : 16px;
    cursor : pointer;
    box-shadow: 0 8px 8px rgb(102, 109, 114);

}

#NUEVO_PERSONAL_SUBMIT:hover{
    background-color: rgb(102,109,114);
    transition: 0.5s;
    color : white;
}

#AÑADIR_PERSONAL_TEXTO_RESPUESTA{
    text-align: center;
    position: relative;
    top : 16px;
    font-size: 16px;
    font-family: monospace;
    text-decoration: underline;
}

#FORMULARIO_REGISTRO_TRABAJADOR_FINAL input{
    display: block;
    width: 512px;
    padding: 16px;
    margin: auto;
    border-radius: 16px;
    border : transparent;
    border-bottom: 2px solid black;
    font-size: 20px;
    font-family: monospace;
    
}


#EMPRESARIO_PERSONAL_ELIMINAR_BOTON{
    background-color: rgb(202, 57, 32);
    border : none;
    border-radius: 24px;
    width: 128px;
    height: 32px;
    color : white;
    position: relative;
    top : -30px;
    left : 264px;
    box-shadow: 0 8px 8px rgb(102, 109, 114);
    cursor : pointer;
    font-weight: bolder;
}

#HOME_MI_CUENTA_DIV{
    position: relative;
    left : 64px;
    top : 48px;
    font-family: monospace;
    text-align: justify;
    font-size: 20px;
}

#HOME_CONTENEDOR_MODULOS{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#HOME_MODULO_BOTON_PRECIO{
    border : none;
    height : 32px;
    width : 128px;
    border : none;
    color : white;
    box-shadow: 0 8px 8px rgb(102, 109, 114);
    border-radius : 99px;
    
    position : relative;
    top : -72px;
    left : 132px;
}
#HOME_MODULO_TEXTO_DESCRIPCION{
    position : relative;
    top : -72px;
    max-width: 480px;
    height: 64px;
    font-family: monospace;
}

#HOME_MODULO_PLANTILLA{
    width : 45%;
    text-align : justify;
    margin : 8px;
    
    border-radius: 4px;
    padding: 4px;
}

#HOME_MODULO_NOMBRE_MODULO{
    position : relative;
    top : -72px;
    left : 80px;
    font-family: Farmhouse;
}

/*HORA*/

#HOME_HORA_ACTUAL{
    position: absolute;
    top : 388px;
    left : 22px;
    font-family: Farmhouse;
    font-weight: bold;
    font-size: 64px;
}

#HOME_CALENDARIO{
    position: absolute;
    top : 216px;
    left : 8px;
    padding: 8px;
    text-align: center;
    font-family: Farmhouse;
    font-size: 24px;
}


#HOME_CALENDARIO_HOY {
    
    color: #fff;

}

/* CORREO */
#CORREO_DIV_IZQUIERDA{
    width: 55%;
    
}

#CORREO_DIV_DERECHA{
    width: 45%;
    background-color : rgb(255, 60, 0);
    height: 100px;
}

#CORREO_TEXTAREA{
    resize: none;
    overflow: scroll;
    height: 128px;
    width: 50%;
    overflow-x: hidden;
    border : 1px black solid;
    position: relative;
    left : 25%;
}